{% extends 'layout.html' %}
{% load static %}
{% block scripts %}
<script>
$(document).ready(function() {
  // <select> elementinin değişiklik olayını dinle
  $(".form-select").change(function() {
    // Seçilen değeri al
    var selectedValue = $(this).val();
    // AJAX isteği yap
    $.ajax({
      url: "/account/orderhistory/", // Sunucu URL'sini buraya girin
      method: "POST", // İstek metodunu burada belirleyin
      data: { selectedvalue: selectedValue, csrfmiddlewaretoken: '{{ csrf_token }}' }, // Gönderilecek veriyi belirtin
      success: function(response) {
        // Başarılı cevap geldiğinde yapılacak işlemler
       console.log(response)
        var htmlcontent = '';
        for (var i = 0; i < response.length; i++) {
          var order = response[i];
          var jsondate = order.date;
          var jsontodate = new Date(jsondate);
          var options = { year: 'numeric', month: 'long', day: 'numeric',hour:'2-digit',minute:'2-digit' };
          var dateString = jsontodate.toLocaleDateString('tr-TR', options);
          htmlcontent += `
            <div class="orderhistorycart">
              <div id="topdetail">
                <div class="headerandorder">
                  <h6 class="headersix">Sipariş Tarihi</h6>
                  <p>${dateString}</p>
                </div>
                <div class="headerandorder">
                  <h6 class="headersix">Sipariş No</h6>
                  <p>${order.orderno}</p>
                </div>
                <div class="headerandorder">
                  <h6 class="headersix">Sipariş Durumu</h6>`;
          if (order.orderstatus === 1) {
            htmlcontent += `
              <p>
                <i class="fa-solid fa-hourglass-half" style="color: red;"></i>
                <span style="color: red">Onay Bekliyor</span>
              </p>`;
          } else if (order.orderstatus === 2) {
            htmlcontent += `
              <p>
                <i class="fa-solid fa-check" style="color: green;"></i>
                <span style="color: green">Onaylandı</span>
              </p>`;
          } else if (order.orderstatus === 3) {
            htmlcontent += `
              <p>
                <i class="fa-regular fa-rectangle-xmark" style="color:red"></i>
                <span style="color: red">Reddedildi</span>
              </p>`;
          } else if (order.orderstatus === 4) {
            htmlcontent += `
              <p>
                <i class="fa-solid fa-rotate-left" style="color: red"></i>
                <span style="color: red">Geri İade</span>
              </p>`;
          } else if (order.orderstatus === 5) {
            htmlcontent += `
              <p>
                <i class="fa-solid fa-box-open" style="color:green;"></i>
                <span style="color: green">Hazırlanıyor</span>
              </p>`;
          } else if (order.orderstatus === 6) {
            htmlcontent += `
              <p>
                <i class="fa-solid fa-truck-fast" style="color: green;"></i>
                <span style="color: green">Kargolandı</span>
              </p>`;
          } else if (order.orderstatus === 7) {
            htmlcontent += `
              <p>
                <i class="fa-solid fa-people-carry-box" style="color: green"></i>
                <span style="color: green">Teslim Edildi</span>
              </p>`;
          }
          htmlcontent += `
              </div>
              <div class="headerandorder">
                <h6 class="headersix">Sipariş Özeti</h6>
                <p>${order.orderquantity} Ürün</p>
              </div>
              <div class="headerandorder">
                <h6 class="headersix">Alıcı</h6>
                <p>${order.buyername} ${order.buyersurname}</p>
              </div>
              <div class="headerandorderprice">
                <h6 class="headersix">Tutar</h6>
                <p>${order.totalprice}</p>
              </div>
              <div class="orderdetail">
                <a href="/account/orderhistory/${order.orderno}">
                  <button type="button" class="orderdetailbutton">Sipariş Detayı</button>
                </a>
              </div>
              </div>
            `;
             for (var j=0;j < order.items.length;j++){
               items = order.items[j];
               htmlcontent +=`
               <div class="allitems">
<div class="items">
     <div class="item-name">
    <p class="product-brand">${items.product_brand}
    <span class="product-name">${items.product_name}</span>
        </p>
        </div>
    <div class="item-size">
        <p class="product-size">
            Beden: <span>${items.product_color}</span>, <span>${items.product_body}</span> - Adet: <span>${items.product_quantity}</span>
        </p>
    </div>
<div class="item-image">
    <a href="/{{ item.product.gender.gender }}/{{ item.product.topcategorie.slug }}/{{ item.product.slug }}"><img src="${items.product_image}"></a>
</div>

</div>
</div>
`;
}
htmlcontent+=`
</div>
</div>
<br>
            <br>
`;



        }
        htmlcontent+=`</div>`;

        // Oluşturulan içeriği ekrana yerleştir
        $(".allcart").html(htmlcontent);
      },
      error: function() {
        // Hata durumunda yapılacak işlemler
        console.log('hata oluştu')
      }
    });
  });
});

</script>
{% endblock %}

{% block stylefile %}
<link href="{% static "pages/css/orderhistory.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="pageinfo">
    <p>Siparişlerim</p>

    <select class="form-select" aria-label="Default select example">
  <option selected>Tüm Siparişler</option>
  <option value="30">Son 1 Ay</option>
  <option value="90">Son 3 Ay</option>
  <option value="360">Son 1 Yıl</option>
</select>

    </div>
    <br>
    <div align="center" class="allcart">

        {% for order in orders %}
<div class="orderhistorycart">
    <div id="topdetail">
        <div class="headerandorder">
        <h6 class="headersix">Sipariş Tarihi</h6>
        <p>{{ order.date}}</p>
            </div>
        <div class="headerandorder">
        <h6 class="headersix">Sipariş No</h6>
        <p>{{ order.pk }}</p>
        </div>
        <div class="headerandorder">
        <h6 class="headersix">Sipariş Durumu</h6>
            {% if order.orderstatus == 1 %}
                <p>
                <i class="fa-solid fa-hourglass-half" style="color: red;"></i>
                    <span style="color: red">Onay Bekliyor</span>
                </p>
            {% elif order.orderstatus == 2 %}
             <p>
             <i class="fa-solid fa-check" style="color: green;"></i>
                  <span style="color: green">Onaylandı</span>
             </p>
            {% elif order.orderstatus == 3 %}
                <p>
                <i class="fa-regular fa-rectangle-xmark" style="color:red"></i>
                    <span style="color: red ">Reddedildi</span>
                </p>
             {% elif order.orderstatus == 4 %}
                <p>
                <i class="fa-solid fa-rotate-left" style="color: red"></i>
                   <span style="color:red">Geri İade</span>
                </p>
             {% elif order.orderstatus == 5 %}
                <p>
                <i class="fa-solid fa-box-open" style="color:green;"></i>
                  <span style="color: green">Hazırlanıyor</span>
                </p>
             {% elif order.orderstatus == 6 %}
                <p>
                <i class="fa-solid fa-truck-fast" style="color: green;"></i>
                  <span style="color: green">Kargolandı</span>
                </p>
             {% elif order.orderstatus == 7 %}
                <p>
                <i class="fa-solid fa-people-carry-box" style="color: green"></i>
                 <span style="color: green">Teslim Edildi</span>
                </p>
            {% endif %}
            </div>
        <div class="headerandorder">
        <h6 class="headersix">Sipariş Özeti</h6>
            <p>{{ order.orderdetail.all | length }} Ürün</p>
            </div>
        <div class="headerandorder">
        <h6 class="headersix">Alıcı</h6>
            <p>{{ order.name }} {{ order.surname }}</p>
            </div>
        <div class="headerandorderprice">
        <h6 class="headersix">Tutar</h6>
            <p>{{ order.paymentinformation.totalprice }}</p>
            </div>
       <div class="orderdetail">
           <a href="{% url 'orderhistorydetail' order.pk %}"><button type="button" class="orderdetailbutton">Sipariş Detayı</button></a>
       </div>
    </div>
<div class="allitems">
     {% for item in order.orderdetail.all %}
<div class="items">
     <div class="item-name">
    <p class="product-brand">{{ item.product.brand }}
    <span class="product-name">{{ item.product.name}}</span>
        </p>
        </div>
    <div class="item-size">
        <p class="product-size">
            Beden: <span>{{ item.product.color }}</span>, <span>{{ item.size }}</span> - Adet: <span>{{ item.quantity }}</span>
        </p>
    </div>
<div class="item-image">
    <a href="/{{ item.product.gender.gender }}/{{ item.product.topcategorie.slug }}/{{ item.product.slug }}"><img src="{{item.product.image.url}}"></a>
</div>

</div>
    {% endfor %}
</div>
</div>
<br>
            <br>

    {% endfor %}

    </div>
{% endblock %}